* {
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', monospace;
    margin: 0;
    padding: 0;
    background: #c9c9c9;

}

.chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100vh;
    
    padding: 15px;
}

#chat {
    background: #d8d8d8;
    width: 100%;
    height: 400px;
    border-radius: 30px;
    overflow-y: auto;
    padding: 10px;
}

.input-area {
    width: 100%;
    height: 30vh;
    background: #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    
}

#messageInput {
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    border: none;
    outline: none;
  
}

#sendBtn {
    border: none;
    cursor: pointer;
    padding: 5px;
    font-weight: bold;
}