* {
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', monospace;
    margin: 0;
    padding: 0;
    background: #c9c9c9;

}

.chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100vh;
    border: 5px solid blue;
    padding: 10px;
}

#chat {
   width: 50%;
    height: 400px; 
    border: 5px solid rgb(255, 0, 0);
    border-radius: 30px;
    overflow-y: auto; 
    padding: 10px;
}

.input-area {
    width: 30%;
    height: 30vh;
    border: 5px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
      flex-direction: column;
       gap: 10px;
}